%div= flash_messages

%h2= form.desc

= render :partial => 'game/line_summary', :object => form

= link_to_remote('Show Wagers', :update => 'wagers', :url => {:controller => 'wagers', :action => 'show', :id => form.id, :obj_class => form.class}) if form.active_wagers.size >= 20
%div{:id => 'wagers'}= render :partial => 'game/wagers', :object => form.active_wagers if form.active_wagers.size < 20

= link_to_remote 'Show Lines', :update => 'lines', :url => {:controller => 'line', :action => 'show', :id => form.id, :obj_class => form.class} if form.lines.size >= 20
%div{:id => 'lines'}= render :partial => 'game/lines', :object => form if form.lines.size < 20

    
