%table
  %tr
    - %w(Game Desired Wagered Won).each do |col|
      %th= col
  - lines.each do |g|
    %tr
      %td= g.desc
      %td= g.desired_amount
      %td= g.wagered_amount
      %td= g.win_amount
  %tr
    - ['Total',root.desired_amount,root.wagered_amount,root.win_amount].each do |cell|
      %td
        %b= cell
    