%tr.line{:bgcolor => (line.expire_dt ? 'Gray' : 'White')}
  - if line.new_record? 
    - if @games
      %td= f.select :game_id, @games.map { |x| [x.desc,x.id] }
    %td= f.select :team_id, line.possible_teams.map { |x| [x.short_name,x.id] }
    %td= f.select :site_id, Site.find(:all).map { |x| [x.name,x.id] }
    %td= f.text_field :pretty_spread, :size => 4
    %td= f.text_field :odds, :size => 4
    %td= f.text_field :desired_amount, :size => 4
    %td= f.text_field :outstanding_amount, :size => 4
    %td= f.text_field :wagered_amount, :size => 4
    %td= f.check_box :expired
    - if line.game && line.game.played?
      %td= line.result
    - f.remove_link 'Remove'
  - else
    - if @games
      %td= line.game.desc
    %td= line.team
    %td= line.site.name
    %td= line.pretty_spread
    %td= line.odds
    %td= f.text_field :desired_amount, :size => 4
    %td= f.text_field :outstanding_amount, :size => 4
    %td= f.text_field :wagered_amount, :size => 4
    %td= f.check_box :expired
    -if line.game.played?
      %td= line.result
 
  
  
  
