- remote_form_for(lines) do |f|
  - if lines.respond_to?(:away_score)
    Away Score:
    = f.text_field :away_score, :size => 4
    Home Score:
    = f.text_field :home_score, :size => 4
  %table
    %tr
      - (lines.respond_to?(:games) ? ['Game'] : []) + %w(Team Site Spread Odds Desired Outstanding Wagered Expired Status Active).each do |col|
        %th= col
    %div#lines
      = f.render_associated_form(lines.lines, :new => 2, :partial => 'game/line')
  = f.submit 'Save'