- form_for(@search) do |f|
  - f.fields_for @search.conditions do |games|
    Between
    = games.calendar_date_select :event_dt_gt
    and
    = games.calendar_date_select :event_dt_lt
    %br
    Has bet of at least: 
    - games.fields_for games.object.bets do |bets|
      = bets.text_field :wagered_amount_gt
    %br
    Sport:
    = games.select :sport_id, [['All',nil]] + Sport.all.map { |x| [x.name,x.id] }
    %br
    Save?
  - f.fields_for(@search_object) do |search_obj|
    = search_obj.check_box :do_save
    = search_obj.text_field :name
    %br
    %table
      %tr
        %th= "Group By"
        %th= "Result Columns"
      %tr
        %td= search_obj.select :grouping_columns, @search_object.potential_grouping_columns.map { |x| [x.humanize,x] }, {}, :multiple => true
        %td= search_obj.select :result_columns, @search_object.potential_result_columns.map { |x| [x.humanize,x] }, {}, :multiple => true
  %br
  = f.submit 'search'
  %br

%div
  = render :partial => 'games'
  = render :partial => 'game/game_summary', :locals => {:lines => @search_object.grouped_lines, :root => nil}