= render :partial => 'game/wagers', :object => @games.map { |x| x.wagers }.flatten
= render :partial => 'game/game_summary', :object => @games.map { |x| x.lines }.flatten
= render :partial => 'game/game_summary', :object => @games
- remote_form_for(@period) do |f|
  %table
    %tr
      - %w(Game Team Site Spread Odds Desired Outstanding Wagered Status).each do |col|
        %th= col
    %div#lines
      = f.render_associated_form(@period.lines, :new => 3, :partial => 'game/line')
  = f.submit 'Save'