%table
  %tr
    %th= order_by_link({:game => {:sport => :abbr}}, :text => 'Sport')
    %th= order_by_link({:game => :event_dt}, :text => 'Date')
    %th= 'Bet Type'
    %th= 'Game'
    %th= 'Team'
    %th= 'Spread'
    %th= 'Result'
    %th= 'Wagered'
    %th= "Profit"
    %th= "Public%"
    %th= 'Status'
  - @games.each do |line|
    %tr
      %td= line.game.sport.abbr
      %td= line.game.event_dt.pretty_dt
      %td= line.bet_type
      %td= line.game.link
      %td= line.team_obj.short_name
      %td= line.spread_str
      %td= line.result
      %td= line.wagered_amount.to_i
      %td= line.win_amount.to_i
      %td= line.cached_bet_percent.andand.to_perc
      %td= game_status(line)
  %tr
    %td
    %td
    %td
    %td
    %td
    %td
    %td
    %th= @games.map(&:wagered_amount).sum.to_i
    %th= @games.map(&:win_amount).sum.to_i
      
Per page: 
= per_page_select 

- if @search.page_count > 1 
  Page: 
  = page_select 

